/**
 * Fonts
 */

$font-sans-serif: 'Roboto', sans-serif;
$font-serif: 'PT Serif', serif;

$font-regular: 400;
$font-bold: 700;

/**
 * Colours 
 */

$color-primary: #30336B;
$color-primary-dark: #130F40;
$color-action: #D980FA;
$color-gray: #AFAEBC;