@import './../../config/variables.scss';

.header {
    padding: 60px 30px;
}
.header h1 {
    color: #fff;
    font-size: 3.2em;
    margin: 0;
}
.header p {
    color: rgba($color-gray, .7);
    font-size: 1em;
    font-weight: $font-bold;
    margin: 0 0 10px;
}
.header a {
    color: #fff;
    float: right;
    text-decoration: none;
}
.header a:hover {
    color: rgba(#fff, .5);
}
