.notification {
    background: #00a8ff;
    border-radius: 40px;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    left: 20px;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: calc(100% - 40px);
}
.notification--success {
    background: #16a085;
}
.notification--error {
    background: #e84118;
}

.notification-enter-active,
.notification-leave-active {
    transition: transform .2s ease;
}
.notification-enter,
.notification-leave-to {
    transform: translateY(100px);
}
