.notification {
    background: #16a085;
    border-radius: 40px;
    bottom: 20px;
    color: #fff;
    cursor: pointer;
    left: 20px;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: calc(100% - 40px);
}
