@import './../../config/variables.scss';

.card {
    align-items: center;
    display: flex;
    flex: 560px 0 0;
    height: 80vh;
    opacity: 1;
    padding: 20px;
    perspective: 1200px;
    transition: opacity .5s ease, transform .5s ease;
    width: 560px;
}
.card.is-hidden {
    opacity: .15;
    transform: scale(.95);
}
.card.is-hidden .card__word {
    font-size: 0;
}
.card.is-hidden .card__original {
    font-size: 0;
}
.card.is-hidden .card__word:after {
    background: rgba($color-primary-dark, .25);
    border-radius: 30px;
    content: '';
    display: block;
    height: 20px;
    width: 100px;
}
.card__inner {
    max-width: 560px;
    position: relative;
    width: 100%;
}
.card__side {
    align-items: center;
    background: #fff;
    backface-visibility: hidden;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    transform-style: preserve-3d;
}
.card__side--back {
    position: absolute;
    top: calc(50% - 150px);
    width: 100%;
}
.card__word {
    color: $color-primary-dark;
    display: block;
    font-family: $font-serif;
    font-size: 2.2em;
    font-style: italic;
}
.card__original {
    color: $color-primary;
    display: block;
    font-family: $font-serif;
    font-size: 1em;
    font-style: italic;
}
.card__feedback {
    list-style: none;
    padding: 0;
    margin: 20px 0 -40px;
}
.card__feedback li {
    display: inline-block;
    margin: 0 10px;
}
.card__button {
    background: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(#000, .15);
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    height: 60px;
    width: 60px;
}

.flip-card-enter-active {
    transition: transform .3s linear;
}
.flip-card-leave-active {
    transition: transform .3s linear;
}
.flip-card-enter {
    transform: rotateY(180deg);
}
.flip-card-leave-to {
    transform: rotateY(-180deg);
}