.feedback {
    list-style: none;
    padding: 0;
    margin: 20px 0 -40px;
}
.feedback li {
    display: inline-block;
    margin: 0 10px;
}
.feedback button {
    background: #fff;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 3px 6px rgba(#000, .15);
    cursor: pointer;
    display: inline-block;
    font-size: 1.5em;
    height: 60px;
    width: 60px;
}
